/* :root{} = digunakan untuk mendefinisikan dan memanipulasi variabel css global. bisa pula diartiikan denagn membuat sebuah istilah sendiri atau data buatan untuk memudahkan dalam penginputan variabel. */
:root{
    --bluesoft: #F9FBFC;
    --blue: #3A38FF;
    --purplesoft: #E5E4FF;
    --navy: #101041;
    --darkgrey: #949293;
    --darkgrey2: #E7EBED;
    --grey: #DFE2E7;
    --purple: #6261D8;
    --green: #316762;
    --white: #ffffff;
    --fwextrabold: 800;
    --fwbold: 700;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body{
      font-family: "Poppins", sans-serif;
      background: var(--bluesoft);
}

.big-header {
    font-weight: var(--fwextrabold);
    color: var(--navy);
    font-size: 48px;
    margin: 0;
}

.medium-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
    margin: 0;
}

.small-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 22px;
    margin: 0;
}

/* PARAGRAPH */
.primary-copy {
    font-size: 16px;
    font-weight: var(--fwregular);
    line-height: 28px;
    color: var(--darkgrey);
    margin: 0;
}

.form-control {
    border-radius: 50px;
    border: 0;
    background: var(--white);
    padding: 12px 20px 12px 20px;
}

/* ANJIR INI NGARUH BANGET. PERHATIKAN. 'textarea' disini tidak memakai titik, karena dia bukanlah sebuah class, melainkan sebuah attribute di html. dan untuk penggunaanya di css itu harus digabung dengan class tanpa spasi. menjadi 'textarea.form-control' */
textarea.form-control {
    border-radius: 16px;
}

.form-select {
    border-radius: 50px;
    border: 0;
    background: var(--white);
    padding: 12px 20px 12px 20px;
/* DIBAWAH ADALAH TRICK UNTUK MENGATUR ICON DROPDOWN */
    background-image: url('../images/icon_dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 24px;
}


/* FILTER BLUR DIGUNAKAN UNTUK MEM BLUR KAN BEBERAPA CARD AGAR PENGGUNA FOKUS PADA TARGET CURSOR*/
.features-wrapper:hover .big-features-card:not(:hover) {
    filter: blur(4px);
    transition: all 0.3s ease;
}

.features-wrapper:hover .small-features-card:not(:hover) {
    filter: blur(4px);
    transition: all 0.3s ease;
}

.features .features-wrapper .small-features-card {
    padding: 30px;
    border-radius: 16px;
    background: var(--white);
    cursor: pointer;
}

.features .features-wrapper h3 {
    padding-top: 16px;
}

.features .features-wrapper .small-features-card .icon {
    height: 100px;
}

.features .features-wrapper .big-features-card {
    padding: 30px;
    border-radius: 16px;
    background: var(--white);
    padding-bottom: 60px;
    cursor: pointer;
}

.features .features-wrapper .icon {
    float: left;
    width: 60px;
    height: 200px;
    margin-right: 18px;
}

.features .features-wrapper .icon img{
    width: 60px;
    height: 60px;
}

.text-button {
    text-decoration: none;
    color: var(--blue);
}

.text-button:hover {
    text-decoration: underline;
    color: var(--navy);
}

/* UKURAN PADDING SELALU DIMULAI DARI ATAS DULU */
/* SETIAP BUTTON MEMILIKI SEBUAH BORDER. MAKA DI '0' KAN DULU, AGAR KETIKA MASIH DIPINGGIRAN BUTTON, KITA TIDAK BISA MENGKLIK BUTTON ITU*/
.btn-primary {
    padding: 12px 20px 12px 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fwsemibold);
    border-radius: 50px;
    border: 0;
}

/* :hover dibawah ini adalah contoh dari istilah PSEUDOCODE*/
.btn-primary:hover {
    background: var(--navy);
    color: var(--white);
}

.btn-secondary {
    padding: 12px 20px 12px 20px;
    background: var(--grey);
    color: var(--navy);
    font-size: 16px;
    font-weight: var(--fwmedium);
    border-radius: 50px;
    border: 0;
}

/*JIKA SAAT HOVER WARNA MASIH BELUM BERUBAH MAKA TAMBAHKAN DEKLARASI IMPORTANT*/
.btn-secondary:hover {
    background: var(--navy);
    color: var(--white) !important;
}


/* HOVER ADALAH AKSI PERUBAHAN WARNA */
/* Attribute transition itu digunakan sebelum hover ya */
.navbar-nav .nav-item a:hover{
    color: var(--blue);
    transition: all 0.3s ease;
    font-weight: var(--fwsemibold);
}

.navbar-nav .nav-item a {
    color: var(--navy);
    transition: all 0.3s ease;
}

.navbar-nav .nav-item {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: var(--fwregular);
}

.navbar-brand {
    font-weight: var(--fwbold);
    font-size: 28px;
    color: var(--navy);
}

/* BAWAAN BOOTSTRAB ITU KALAU BIKIN NAVBAR MESTI ATTRIBUTE DIBAWAH TUH MASIH O.5rem. ANDA BISA MENGECEKNYA DENGAN MENYELEKSI BAGIAN NAVBAR DENGAN INSPECT DI BROWSER*/
/* JADI YA HARUS DI '0' KAN DULU BIAR NGGK ADA SPACE */
.navbar {
    --bs-navbar-padding-y: 0;
}

.cashier-navbar {
    padding: 30px;
    background: var(--white);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}

.small-copy {
    font-size: 14px;
    color: var(--navy);
    font-weight: var(--fwsemibold);
}

.badge {
    padding: 8px 16px 8px 16px;
    background: var(--purplesoft);
    border-radius: 50px;
    width: 300px;
}

.badge .icon {
    float: left;
    margin-right: 6px;
}

.badge .small-copy {
    padding-top: 4px;
    margin: 0;
}

.big-header {
    font-weight: var(--fwextrabold);
    color: var(--navy);
    font-size: 48px;
    line-height: 60px;
    margin: 0;
}

.primary-copy {
    font-size: 16px;
    font-weight: var(--fwregular);
    line-height: 28px;
    color: var(--darkgrey);
    margin: 0;
}

/* KEMUDIAN MEMBUAT PRESET MARGIN DIBAWAH INI */

.mt-70 {
    margin-top: 70px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.card-brand {
    width: 227px;
    height: 110px;
    border-radius: 16px;
    background: var(--darkgrey2);
    text-align: center;
}

/* CARA MEMBACA DIBAWAH ADALAH = DIA DIDALAM 'CARD BRAND', KEMUDIAN MASUK KEDALAM 'LOGO' */
.card-brand .logo {
    height: 50px;
    margin-top: 30px;
}

.carousel-wrapper {
    display: flex;
    height: 110px;
    animation: moveSlidesToLeft 25s linear infinite;
}

.carousel {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 110px;
    overflow: hidden;
}

/* dibawah ini adalah baris code untuk animasi  */

@keyframes moveSlidesToLeft{
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes moveSlidesToRight{
    0% {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.carousel-wrapper-left {
    display: flex;
    height: 110px;
    animation: moveSlidesToRight 25s linear infinite;
}

.carousel-left {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 110px;
    overflow: hidden;
}